@model BTL_ASP.Models.Hang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","QuanLySanPham",FormMethod.Post,new {@enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row-fluid sortable">
        <div class="box-content">

           <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="control-group">
                <label class="control-label" for="date01">Mã hàng: </label>
                <div class="controls">
                    @Html.EditorFor(model => model.HangID, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="date01">Tên hàng:</label>
                <div class="controls">
                    @Html.EditorFor(model => model.HangName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HangName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.SKU, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SKU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.HangImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    <input type="file" name="fileUpload" />
                    @ViewBag.ThongBao
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.LoaiHangID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    @Html.DropDownList("LoaiHangID")
                    @Html.ValidationMessageFor(model => model.LoaiHangID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.ThuongHieuID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    @Html.DropDownList("ThuongHieuID")
                    @Html.ValidationMessageFor(model => model.ThuongHieuID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.NhaCungCapID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    @Html.DropDownList("NhaCungCapID")
                    @Html.ValidationMessageFor(model => model.NhaCungCapID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="controls">
                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
                
                <div class="controls">
                    <textarea name="MoTa" class="cleditor" id="textarea2" rows="3"></textarea>
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-actions">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
        </div>
    </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
